.newProject__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .newProject__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: rgb(214, 207, 207);
  }
  
  .newProject__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  input[type=file]::-webkit-file-upload-button {
    border: 2px solid #CE828E;
    font: inherit;
    padding: .2em .4em;
    color: white;
    border-radius: .2em;
    background-color: #CE828E;
  }
  
  input[type=file]::file-selector-button {
    font: inherit;
    border: 2px solid #CE828E;
    padding: .2em .4em;
    color: white;
    border-radius: .2em;
    background-color: #CE828E;
  }
  
  input[type=file]::-webkit-file-upload-button:hover {
    background-color: #ca6c7a;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.26);
    transition: box-shadow 0.3s ease-in-out;
  }
  input[type=file]::file-selector-button:hover {
    background-color: #ca6c7a;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.26);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .newProject__control p {
    padding-top: 0.5rem;
    font-size: smaller;
  }
  
  .newProject__actions {
    text-align: right;
  }

  .login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
  }
  
  .control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  .control label,
  .control input {
    display: block;
  }
  
  .control label {
    font-weight: bold;
    flex: 1;
    color: rgb(214, 207, 207);
    margin-bottom: 0.5rem;
  }
  
  .control input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .control input:focus {
    outline: none;
    border-color: #e2d8da;
    background: #f0dbde;
  }
  
  .control.invalid input {
    border-color: #CD113B;
    background: #fbdada;
  }
  .control.invalid p {
    color: #CD113B
  }

  .control.invalid label {
    color: #CD113B;
  }

  .actions {
    text-align: center;
  }